body {
    background-color: #b3d9ff;
    color: black;
    font-size: 21px;
}




p {
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.intro{
    font-size: 21px;
}


h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    color:#1a001a;
    
}




div{
    display: flex;
    justify-content: center;
    align-items: center;

}
    
img{
    padding-bottom: 20px;
    width: 500px;

}

   







/* css comment*/
/* three parts to the box model:
margin,
padding,
border*/

.box-one{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: pink;
    border-left: 5px solid purple;
    margin: 0 200px;
}



.box-three{
   display: flex;
   justify-content: left;
   align-items: center;
   text-align: left;
   background: pink;
   border-left: 5px solid purple ;
   margin: 20px 200px;
   
    
}

.listsize{
    font-size: 21px;
}
